.container {
    display: flex;
    justify-content: center;
}
.todo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 30px;
    min-width: 300px;
}
.todo p {
    padding: 0 10px;
}

.completed {
    text-decoration: line-through;
}
.del-btn {
    justify-self: flex-end;

}