<div class="container">
    <form  class="form" #todoForm="ngForm" (submit)="onSubmit(todoForm)">
        <mat-form-field>
            <mat-label>Add your todo</mat-label>
            <input matInput ngModel
                   name="title"
                   type="text"
                   required minlength="6"
                    #title="ngModel"
                    id="title">
            <div class="error" *ngIf="title.invalid && title.value?.length <= 6  && title.touched"></div>
        </mat-form-field>
        <button mat-button color="primary" >Submit</button>
    </form>
</div>